{% extends "admin/base.html" %}

{% block content %}
<div class="layui-card">
  <div class="layui-card-header">系统设置</div>
  <div class="layui-card-body">
    <form class="layui-form" method="POST">
      <div class="layui-form-item">
        <label class="layui-form-label">应用名称</label>
        <div class="layui-input-block">
          <input type="text" name="app_name" required  lay-verify="required" value="{{ app_name }}" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">LOGO设置</label>
        <div class="layui-input-block">
          <button type="button" class="layui-btn" id="uploadLogo">
            <i class="layui-icon">&#xe67c;</i>上传图片
          </button>
          <div class="layui-inline layui-word-aux">暂未实现实际上传功能</div>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
